body {
    height: 100vh; 
    background: url(images/wallpaper.jpg); background-size: cover;
}
footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0px 0px; 
    width: 90%; 
    margin: 100px 5%; 
    height: 200px; 
    background: linear-gradient(to right, rgb(252, 158, 231), rgb(243, 171, 138));
}
th, td {border-radius: 20px}
td:hover {
    font-weight: bolder;
    background-color: yellow;
}
table {
    border-radius: 20px; 
    border:4px solid black; 
    margin: 20px -20px -20px -20px; 
    width: 1253px;
}
a {
    text-decoration: none;
}

.white {color: white;}
.black {color: black;}
.bolder {font: bolder;}
.margin50 {margin: 50px;}
.leftfloat {float: left;}
.point:hover:before{content: "☛";}
.point:hover:after{content: "☚";}

.mark {margin: 0px 0px 0px 50px;}
.logotxt {
    height: 100px; 
    margin-top:31px; 
    line-height: 0.7
}
.hdcon {
    display: flex; 
    height: 100px; 
    justify-content: space-evenly;
    align-items: center;
}
.hditem {flex-basis: 100px;}
.hd {
    background-color: white; 
    height: 100px; 
    width: 90%; 
    border-radius: 50px; 
    margin: 1% 5%;
}
.hdlist {
    color: grey; 
    opacity: 0.7;
}
.hdlistdiv {
    float: left; 
    height: 70px; 
    margin: 15px 30px;
}


.navflex {
    float: right;
    width: 200px;
    height: 150px;
}
.navflex:hover {
    height: 450px;
}
.navflex *{
    transition-duration: 1s;
}
.navflex:hover .navtxt{
    opacity: 1;
}
.navflex:hover .navs{
    margin: 0px 0px 20px 0px;
    opacity: 1;
}
.navflex:hover .navimg{
    margin: 0px 0px 20px 0px; 
    transition-delay: 3s;
}
.navflex :nth-of-type(1) {
    transition-delay: 0.1s;
    opacity: 1;
}
.navflex :nth-of-type(2) {
    transition-delay: 0.2s;
}
.navflex :nth-of-type(3) {
    transition-delay: 0.3s;
}
.navflex :nth-of-type(4) {
    transition-delay: 0.4s;
}
.navflex :nth-of-type(5) {
    transition-delay: 0.5s;
}

.navs {
    height: 50px; 
    border-radius: 25px; 
    background-color: rgb(255, 182, 123);
    margin: 0px 0px -50px 0px;
    opacity: 0;
}
.navdiv {
    height: 50px; 
    width: 150px;
}
.navimg {
    height: 50px; 
    width: 50px;
    margin: 0px 0px -50px 0px;
    float: right;
}
.navtxt {
    color:black; 
    font-size: 30px; 
    font-weight: bolder; 
    text-align: center; 
    line-height: 1.4;
    opacity: 0;
}

.bd2con {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.bd2item {
    flex-basis: 42.5%;
    border-radius: 50px;
    background-color: white;
}
.bd1div {
    display: flex; 
    width: 90%;
    border-radius: 50px; 
    background-color: white; 
    margin: 100px 5%;
}
.bdbookflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bdbookflex > div {
    max-width: 400px;
    margin: 3%;
    position: relative;
    perspective: 1000px;
}
.bdbookflex > div figure img {
    width: 100%;
    border: 10px solid #f0f8ff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.bdbookflex > div .front {
    transition-duration: 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.bdbookflex > div figcaption {
    background: rgba(0,0,0,0.4);
    color: #f8f8ff;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translatez(100px);
    width: 60%;
    backface-visibility: hidden;
}
.bdbookflex a {
    color: white;
}
.bdbookflex > div .back {
    position: absolute;
    top: 0;
    z-index: -1;
    transition-duration: 1s;
    transform-style: preserve-3d;
}
.hover__leftright .front {
    transform: rotatey(0deg);
}
.hover__leftright:hover .front {
    transform: rotatey(180deg);
}
.hover__leftright .back {
    transform: rotatey(-180deg);
}
.hover__leftright:hover .back {
    transform: rotatey(0deg);
}
.introtitle {
    font-size: 100px; 
    margin: -33px 0px 0px 0px;
}
.subtitletxt {line-height: 0.7;}
.joystick {margin: -30px 22px -40px 0px}


.fteritem {align-items: center;}
footer a {
    color: black;
}